{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-evenly">
        <div class="col-4">
            <h1>Add Combo</h1><br>
            <form method="POST">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p | safe }}
                <button class="btn btn-secondary" name="add_technique">Add Technique</button>
            </form>
        </div>
        <div class="col-4">
                <h1>Combos:</h1><br>
                {% for item in element_list %}
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">
                    <a class="dropdown-item" href="{% url 'tutorials:tttutorial_combo' item.pk %}">{{item.name}}
            
                <!-- Filters this information only for people in the manager group. -->
                {% for group in user.groups.all%}
                    {% if "Blog manager" or "Manager" in group.name %}
                    <small>- <a href="{% url 'tutorials:update_subcategory' item.pk %}">Edit</a> <a href="{% url 'tutorials:delete_combo' item.pk %}">Delete</a></small>
                    {% endif %}
                {% endfor %}
                    </a>
                    </button>
                </div> <br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}