{% extends 'base.html' %}


{% block content %}
    <main class="">
        <br>
         

        <!-- Video section -->         
          <div class="col-md-7 bg-body-tertiary">
            <div class="embed-responsive embed-responsive-16by9">
              {{video_tutorial_list.iframe | safe }}
            </div>
            <h1>
              {{video_tutorial_list.name}}
            </h1>
            <div>
              <h1></h1>
              <a href="#" class="d-block link-body-emphasis text-decoration-none">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                {{video_tutorial_list.author}}
              </a>
            </div>
            
          </div>
          <!-- End of Video section -->

          <!-- Related videos -->

          <!-- End related videos -->
      
      </main>

    </div>
    {% endblock content %}