{% extends 'base.html' %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome To Tutorials</h1>
        <p class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec tincidunt orci. Morbi auctor orci vel est sodales euismod. Maecenas eros diam, hendrerit sed eros at, interdum aliquam orci Duisv. varius vestibulum vulputate Duis.</p>
        <p>
          <a href="{% url 'tutorials:tttutorial' %}" class="btn btn-lg btn-primary my-2">Written Tutorials</a>
          <a href="{% url 'tutorials:vtutorial' %}" class="btn btn-lg btn-success my-2">Video Tutorials</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}