{% extends 'base.html' %}


{% block content %}
    <main class="container">
        <br>
        <section class="text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Welcome to the Written page</h1>
              <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            </div>
          </div>
        </section>
      
        <div class="album py-3 bg-body-tertiary">
          <div class="container">
            <h1 class="fw-light py-2">Category options</h1>
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <a href="{% url 'tutorials:ttutorial_all_category' %}" style="text-decoration: none;">
                  <div class="card cardbox">
                    <div class="card-body">
                      <h5 class="card-title">All Categories</h5>
                      <p class="card-text ttcategory">Access all categories</p>
                    </div>
                  </div>
                </a>
              </div>
                {% for category in category_list%}
              <div class="col">
                <a href="{% url 'tutorials:vtutorial_single_category' category.pk %}" style="text-decoration: none;">
                  <div class="card cardbox">
                    <div class="card-body">
                      <h5 class="card-title">{{category.name}}</h5>
                      <p class="card-text ttcategory">{{category.description | slice:1000 }}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      
      </main>
      <br>
{% endblock content %}