[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djangorestframework-yaml = "*"
django-filter = "*"
djoser = "*"
bleach = "*"
django-extensions = "*"
pydotplus = "*"

[dev-packages]

[requires]
python_version = "3.12"
